# compiled output
/dist
/node_modules
apps/*/dist
apps/*/node_modules
apps/*/.turbo
apps/*/coverage
junit.xml

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/*shared.json

# Environment
.env

autoSchemaFiles/*
eslint.json
.turbo
apps/gateway/src/temp-supergraph.yaml
